/*credit stuff, install button stuff*/
a#install-button{
	width:92px;
	height:15px;
	padding:2px 4px;
	border:1.5px solid rgba(0,0,0,0.6);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	top:2px;
	right:2px;
	margin-right:1px;
	position:fixed;z-index:99999999;
	background:url('https://secure.static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') rgba(0,0,0,.4) no-repeat;
}
#install-theme-text{
	float:right;
	font:12px Arial;
	text-shadow:1px 1px 1px rgba(0,0,0,0.08);
	color:white;	
}
a#install-button:hover{
	background:url('https://secure.static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') rgba(43,43,43,.4) no-repeat;
}
iframe#tumblr_controls{
	position:fixed;
	right:105px;
}
/*begin main css*/

/*font*/
@font-face
{font-family: silkscreen;
src: url(http://static.tumblr.com/ojd74qh/noSn5fmf6/slkscr.ttf);}

/*scrollbar*/
::-webkit-scrollbar {
width: 9px; 
height: 3px; 
background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
background-color:#ffffff; 
border: 1px solid black;
}
/*links1*/
a {
text-decoration:none;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
a, a:link, a:active, a:visited{
text-decoration:none;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}