/*credit stuff, install button stuff*/
a#install-button{
	width:92px;
	height:15px;
	padding:2px 4px;
	border:1.5px solid rgba(0,0,0,0.6);
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	border-radius:2px;
	top:2px;
	right:2px;
	margin-right:1px;
	position:fixed;z-index:99999999;
	background:url('https://secure.static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') rgba(0,0,0,.4) no-repeat;
}
#install-theme-text{
	float:right;
	font:12px Arial;
	text-shadow:1px 1px 1px rgba(0,0,0,0.08);
	color:white;	
}
a#install-button:hover{
	background:url('https://secure.static.tumblr.com/tpqedpr/cQ1mbwb60/de.png') rgba(43,43,43,.4) no-repeat;
}
iframe#tumblr_controls{
	position:fixed;
	right:105px;
}
/*begin main css*/

/*font*/
@font-face
{font-family: silkscreen;
src: url(http://static.tumblr.com/ojd74qh/noSn5fmf6/slkscr.ttf);}

/*scrollbar*/
::-webkit-scrollbar {
width: 9px; 
height: 3px; 
background: #FFFFFF;
}
::-webkit-scrollbar-thumb {
background-color:#ffffff; 
border: 1px solid black;
}
/*links1*/
a {
text-decoration:none;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
a, a:link, a:active, a:visited{
text-decoration:none;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;
}
a:hover{
text-decoration:none;
text-shadow:0px 0px 20px #fff;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out; 
}

/*main elements*/
body {
padding: 0px;
margin: 0px;
line-height:16px;
background-size:cover;
}

#text img, #entry img {height: auto;
    max-width:100%;
}

#center{
padding-top:3px;
padding-bottom:3px;
position:fixed !important;
width:250px;
height:207px;
background-color:#fff;
}

#posts{
	margin-top: 15px;
}

.left{
margin-left:400px;
}
#entry blockquote {
      border-left: solid 2px {color:Accents};
      margin: 0;
      padding-left: 10px;
}
.text p{text-align:left;}
.txttitle{font-size:140%;}

#entry {
font-family:'trebuchet ms', arial, sans-serif;
margin:16px;
padding:9px;
padding-bottom:6px;
z-index:100;
line-height:15px;
}

#entry .photo{
	margin-bottom:5px;
   padding-bottom:0px;
}
.perma1, .perma2{
	margin-top:-10px;
    padding-top:5px;
}
.perma1{float:left;
height: auto;
overflow:hidden;
bottom:0px;
left:0px;
line-height:14px;
text-transform: uppercase;
-webkit-transition: all 0.8s ease;
-moz-transition: all 0.8s ease;
transition: all 0.8s ease;
-o-transition: all 0.8s ease;}

.perma2{float:right;
height: auto;
overflow:hidden;
bottom:0px;
right:0px;
line-height:14px;
text-transform: uppercase;
-webkit-transition: all 0.8s ease;
-moz-transition: all 0.8s ease;
transition: all 0.8s ease;
-o-transition: all 0.8s ease;}

.perma1, .perma2, .perm, .perm2{
    font-family:silkscreen,'courier new',monospace,consolas;
    font-size:90%;}
    
.perm{display: block; 
font-size:90%;
line-height:13px;
text-transform:uppercase; 
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
-o-transition: all 1s ease;}

.perm2 {display: block; 
font-size:90%;
line-height:13px;
text-transform:uppercase; 
margin-top:-13px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
-o-transition: all 1s ease; 
float:right;}

.sidebar{
	margin-top:125px;
	left:200px;
	position:fixed;
	line-height:15px;
	overflow:hidden;
	text-align:left;
	opacity:1;
	z-index:98;
	-webkit-transition: all 0.8s linear;
	-moz-transition: all 0.8s linear;
	transition: all 0.8s linear; 
	font-family:silkscreen,consolas,'trebuchet ms', arial, sans-serif;
}
.sidebar .sideguts{
	padding:14px;
	width:100px;
}

.avatar {display:none;}
.pano img{max-width:260px;}

#audioplayer:hover {opacity:1;
-webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;}

#audioplayer {background:#fff;
    width:30px;
    height:30px;
    border:30px solid transparent;
    overflow:hidden;
    position:absolute;
    z-index:99;
    opacity:0.3;
    -webkit-transition: all 0.6s ease-out;
    -moz-transition: all 0.6s ease-out;
    -o-transition: all 0.6s ease-out;}
    
#audiod {height:90px;
    padding-top:5px;
    padding-right:20px;
    margin-left:95px;
    overflow:auto;}
    
#albumart img {
	float:left;
	margin-right:10px;}
.sideimg-circle img{border-radius: 50%;}
.sideimg{display:block;
    width:100%;
    padding-bottom:2px;}
span.entrytext > p {margin-top: 0px;}
.photo img{width:100%;}
.index-page .1stphoto img {display: none;}
.index-page .1stphoto img:first-child {display: block;}
.bubble-question{border-radius:5px;
    padding:10px;
    border:1px solid #eee;}
.answerer{margin-bottom:-5px;}
div.bubble-answer > p {display: inline;}
.bubble-answer{border-radius:5px;
    padding:10px;
    border:1px solid #eee;}
.quote_source_mdash,.quote_source{vertical-align:text-top;}
.quote_source{margin:0;}
#infscr-loading{display:none;}
.phtst{max-width:100%;}
.post-notes{display:block;}
.side-title{
    font-size:150%;
    margin-bottom:8px;
    margin-top:-5px;
    display:block;}
*,p,pre,a,h1,h2,h3,h4,h5,h6,span,body{word-wrap:break-word !important;
        line-height:1.3;}
.quote > blockquote {font-family: Georgia, Times, serif;}
.quote > blockquote {
    border-left:none !important;
    line-height: 1.3;
    margin: 0;
    padding: 0 5px 0 0;
    quotes: "\201C""\201D""\2018""\2019";
    word-break: break-word;}
.quote > blockquote:before {content: open-quote;}
.quote > blockquote:after {content: close-quote;
    margin-left: -0.25em;}
.quote > blockquote p:first-child,
.quote > blockquote p:empty + p,
.quote > blockquote p:last-child,
.quote > blockquote p.empty-last-child {display: inline;}
.quote > blockquote p + p {margin: 0.5em 0;}
.quote > blockquote p:empty {display: none;}
.quote.quote-body > blockquote{font-size:140%}
.audio-embed > iframe{width:200px;}
.audio-embed-perma > iframe{width:400px;}
.post blockquote{
    border-left: 3px solid #eee;
    margin: 1em 0;
    padding-left: 10px;}
li.chat{margin-left:-35px;
    margin-right:5px;
    margin-top:0px;
    padding:2px;
    line-height:1.4;
    list-style:none;}
.perma.phtst-perma{
    margin-top:5px;
    padding-bottom:1px;}
ol, ul{margin-left:-10px;}
pre{
    padding:10px;}