
/*main elements*/

*{word-wrap:break-word !important;
line-height:1.3;}

::-webkit-scrollbar {width: 9px; height: 3px; background: #FFFFFF;}
::-webkit-scrollbar-thumb {background-color:#ffffff ; border: 1px solid black;}

/*links*/
a:hover{text-shadow:0px 0px 20px #fff;}

a,
a:hover,
a:link, 
a:active, 
a:visited{text-decoration:none;
-webkit-transition: all 0.3s ease-out;
-moz-transition: all 0.3s ease-out;
transition: all 0.3s ease-out;}

body {
padding: 0px;
margin: 0px;
line-height:16px;
background-size:cover;
background-attachment: fixed;
}
 
h1,h2,h3,h4{margin:0em;}

pre{padding:10px;}
  
/*photo posts/index page posts*/
#text img, #entry img {height: auto;
  max-width:100%;}

.posts{
 margin-top: 15px;
 left:50%;
 margin-left:-200px;
 position:relative;
 -webkit-transition: all 0.8s linear;
 -moz-transition: all 0.8s linear;
 transition: all 0.8s linear;
}


#entry {margin:16px;
padding:9px;
padding-bottom:6px;
z-index:100;
line-height:15px;
font-family:'trebuchet ms', arial, sans-serif;
-moz-transition: all 0.3s ease-in-out;
-webkit-transition: all 0.3s ease-in-out; 
-ms-transition: all 0.3s ease-in-out;  
-o-transition: all 0.3s ease-in-out;  
transition: all 0.3s ease-in-out;
}

#entry .photo{margin-bottom:5px;
 padding-bottom:0px;}

.pano img{width:100%;}
.photo img{width:100%;}
.photoset-index .1stphoto img {display: none;}
.photoset-index .1stphoto img:first-child {display: block;}
.phtst{max-width:100%;}
.photo-caption img{width:auto;}
.photo-caption {margin-bottom:1em;}
.post-notes img{width:auto;}

#entry .photo.captions-enabled > p {margin-top: -2px;}

/*navigation*/
.desc-pagination{text-align:center;
margin-top:4px;}
.prev-nav-button{display:inline;}

.perm-pagination{
  text-align:center;
  margin-top:5px;
  margin-left:-3px;
}
.post-bottom-pagination,
.perm-bottom-pagination{
  text-align:center;
}
.post-bottom-pagination{
  margin-bottom:10px
}
.perm-bottom-pagination{
  text-align:center;
  padding-bottom:5px;
}
.perma.phtst-perma{
  margin-top:5px;
  padding-bottom:1px;}
.buttons-pagination{margin-top:1px;}
.perma.text{margin-top:5px}
span.current_page{text-decoration: underline;}

/*permalinks*/

.perma1, .perma2{margin-top:-10px;
  padding-top:5px;}

.perma1{float:left;
height: auto;
overflow:hidden;
bottom:0px;
left:0px;
line-height:14px;
text-transform: uppercase;
-webkit-transition: all 0.8s ease;
-moz-transition: all 0.8s ease;
transition: all 0.8s ease;
-o-transition: all 0.8s ease;}

.perma2{float:right;
height: auto;
overflow:hidden;
bottom:0px;
right:0px;
line-height:14px;
text-transform: uppercase;
-webkit-transition: all 0.8s ease;
-moz-transition: all 0.8s ease;
transition: all 0.8s ease;
-o-transition: all 0.8s ease;}

.perma1, .perma2, .perm, .perm2{
  font-family:silkscreen,courier,monospace,arial;
  font-size:90%;}

.perm{display: block;
font-size:90%;
line-height:13px;
text-transform:uppercase;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
-o-transition: all 1s ease;}

.perm2 {display: block;
font-size:90%;
line-height:13px;
text-transform:uppercase;
margin-top:-13px;
-webkit-transition: all 1s ease;
-moz-transition: all 1s ease;
transition: all 1s ease;
-o-transition: all 1s ease;
float:right;}
.captions-enabled.one-col.panorama .perma {margin-top:10px;}
/*end photos/permalinks/navigations*/




/**variable based css**/

@media (max-width: 830px) {
	.sidebar.index_page {
		margin-left:-333px;
	}
}
@media all and (min-width: 1381px){
    .left.three_col.index_page > .sidebar{
        margin-left: -600px;
    }
    .left.three_col.index_page > .posts{
        margin-left: -400px;
    }
}
@media all and (min-width: 2300px){
	.left.three_col.index_page > .sidebar{
		margin-left:-1000px;
	}
	.left.three_col.index_page > .posts{
		margin-left:-740px;
		max-width: 72%;
	}
}


.left.one_col.index_page > .posts{width:400px;}
.left.two_col.index_page > .posts{width:620px;}
.left.three_col.index_page > .posts{max-width:62%;}

.left.perma_page > .posts > .entry{width:400px; margin-left:40px;}
.left.one_col.index_page > .posts > .entry{width:400px;}
.left.two_col.index_page > .posts > .entry,
.left.three_col.index_page > .posts > .entry{width:200px;}

/*audio player vars*/
.audio-embed.one > iframe,
.audio-embed-perma > iframe{width:400px;}

.audio-embed.two > iframe,
.audio-embed.three > iframe{
width:200px;
height:200px;
}
/*end audio vars*/

/*video player*/
.left.one_col.index_page > .posts > .entry.video > iframe,
.left.one_col.index_page > .posts > .entry.video > embed,
.left.one_col.index_page > .posts > .entry.video > object{
width:400px;
height:400px;
overflow: hidden;
}
        
.left.two_col.index_page > .posts > .entry.video > iframe,
.left.two_col.index_page > .posts > .entry.video > embed,
.left.two_col.index_page > .posts > .entry.video > object,
.left.three_col.index_page > .posts > .entry.video > iframe,
.left.three_col.index_page > .posts > .entry.video > embed,
.left.three_col.index_page > .posts > .entry.video > object{
width:200px;
height:200px;
overflow: hidden;
}
/*end video player vars*/

/**end variable based css**/

/*sidebar*/
.sidebar{
margin-top:125px;
position:fixed;
line-height:15px;
text-align:left;
opacity:1;
left:50%;
margin-left:-400px;
z-index:98;
-webkit-transition: all 0.8s linear;
-moz-transition: all 0.8s linear;
transition: all 0.8s linear;
font-family:'trebuchet ms', arial, sans-serif;}

.sidebar .sideguts{
padding:14px;
width:100px;
}

.avatar {display:none;}

.sideimg-circle img{border-radius: 50%;}

.sideimg{display:block;
  width:100%;
  padding-bottom:2px;}

.side-title{
  font-size:150%;
  margin-bottom:8px;
  margin-top:-5px;
  display:block;}
/*end sidebar*/

/*audio player*/
#audioplayer:hover {opacity:1;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;}

#audioplayer {background:#fff;
  width:30px;
  height:30px;
  border:30px solid transparent;
  overflow:hidden;
  position:absolute;
  z-index:99;
  opacity:0.3;
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;}

#audiod {height:90px;
  padding-top:5px;
  padding-right:20px;
  margin-left:95px;
  overflow:auto;}

#albumart img {float:left;
margin-right:10px;}


/*end audio*/

/*text posts*/
span.entrytext > p {margin-top: 0px;}
span.entrytext *{margin:0 0 .5em 0;}
#entry blockquote {
    margin: 0;
    padding-left: 10px;}

.text p{text-align:left;}
.txttitle{font-size:140%;}
.post blockquote{
  border-left: 3px solid #eee;
  margin: 1em 0;
  padding-left: 10px;}
/*end text*/

/*question posts*/
.answerer{margin-bottom:-5px;}

div.bubble-answer > p {display: inline;}

.bubble-answer,
.bubble-question{border-radius:5px;
  background-color:{color:Accents};
  padding:10px;
  border:1px solid #eee;}
/*end questions*/


/*quotes*/
.quote_source_mdash,.quote_source{vertical-align:text-top;}
.quote_source{margin:0;}
.quote > blockquote {font-family: Georgia, Times, serif;}
.quote > blockquote {
  border-left:none !important;
  line-height: 1.3;
  margin: 0;
  padding: 0 5px 0 0;
  quotes: "\201C""\201D""\2018""\2019";
  word-break: break-word;}
.quote > blockquote:before {content: open-quote;}
.quote > blockquote:after {content: close-quote;}
.quote > blockquote p:first-child,
.quote > blockquote p:empty + p,
.quote > blockquote p:last-child,
.quote > blockquote p.empty-last-child {display: inline;}
.quote > blockquote p + p {margin: 0.5em 0;}
.quote > blockquote p:empty {display: none;}
.quote.quote-body > blockquote{font-size:190%}
.quote.quote-body > blockquote.medium{font-size:150%}
.quote.quote-body > blockquote.long{font-size:130%}
.quote_source_table{margin: .5em 0 .5em 0;}
/*end quotes*/


/*chats*/
ul.conversation,ol.conversation{margin: 0px 5px 5px -35px;}
ul,ol{margin: 2px 0 5px -10px;}
li.chat{
  line-height:1.4;
  list-style:none;
  font-family:courier,monospace,arial;
  padding:2px;}

.chat .label{font-weight:bold;}
/*end chats*/

/*etc*/
#infscr-loading{display:none;}
.post-notes{display:block;}
